/* general styles */
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
  font-weight: 200;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}


/* animations */

@keyframes 🦄 {
  0% {
    filter: hue-rotate(-90deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(-90deg);
  }
}

@keyframes ❤️ {
  0% {
    box-shadow: 0 0 0 0 rgba(158, 158, 158, 0.267);
  }
  50% {
    box-shadow: 0 0 0 7px rgba(158, 158, 158, 0.034);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(158, 158, 158, 0);
  }
}

@keyframes 🚨{
  0%{
    transform: rotate(0);
  }

  50%{
    transform: rotate(90deg);
  }

  100%{
    transform: rotate(180deg);
  }
}

/* 🌭 */

#check {
  display: none;
}

.🌭 {
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 50px;
  cursor: pointer;
  margin-top: 1.3rem;
  padding: 1rem 1rem 1.3rem 1rem;
  position: fixed;
  right: 20px;
  transition: 0.2s;
  z-index: 15;
}

.🌭:hover {
  animation: ❤️ 1s linear infinite;
}

.🌭 div {
  background-color: rgb(31, 31, 31);
  height: 4px;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
  width: 35px;
}

#check:checked + .🌭 .top-bun {
  margin-top: 16px;
  transform: rotate(-45deg);
}

#check:checked + .🌭 .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}

#check:checked + .🌭 .weenie {
  margin-top: -4px;
  transform: rotate(45deg);
}

#check:checked + .🌭 + nav {
  margin-right: 30rem;
  opacity: 100;
}

 /* Remix button */

#remix{
  display: none;
}

#remix:checked + .♻️ + .portfolio-grid{
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "p-grid2 p-grid2"
  "p-grid1 p-grid1"
  "p-grid1 p-grid1"
  "p-grid5 p-grid3"
  "p-grid4 p-grid4"
  "p-grid4 p-grid4";
}

#remix:checked + ♻️ + .portfolio-grid .p-grid1{
  height: 50rem;
}

#remix:checked + .♻️ +.portfolio-grid .p-grid4{
  height: 50rem;
}

.fa-sync-alt:hover{
  animation: ❤️ 1s linear infinite;
}

#remix:checked + .♻️  .fa-sync-alt {
  animation: 🚨 2s linear infinite;
}

.fa-sync-alt{
  padding: 1rem;
  position: fixed;
  right: 20px;
  bottom: 2rem;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 50px;
  cursor: pointer;
  z-index: 5;
}

/* nav */

nav {
  position: fixed;
  opacity: 0;
  right: 0;
  transition: 0.5s;
  z-index: 10;
}

nav ul {
  margin-right: -25rem;
  padding: 2.3rem 1rem 0 0;
  text-align: right;
}

nav li {
  background-color: rgb(39, 39, 39);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.555);
  /* border: 1px solid white; */
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  transition: 0.5s;
}

nav li:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

/* social links */

.landing {
  margin-top: 16.5rem;
}

.social-links{
  margin-right: 2rem;
  align-content: end;
  color: white;
  text-align: right;
}

.social-links li {
  background-color: rgb(39, 39, 39);
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  padding: 1rem;
  transition: 0.2s;
}

.social-links a {
  color: white;
}

.social-links li:hover {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.678);
  color: black;
}

/* main */

body {
  display: grid;
  grid-template-rows: 100vh 0 1fr 100vh 3.5rem;
}

.hero-text{
  display: grid;
  font-size: 2rem;
  padding-top: 21rem;
  margin-left: 2rem;  
  color: black;
  font-weight: 100;
  text-align: left;
}

.hero-text :first-child{
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.hero-text span{
  animation: 🦄 3s linear infinite;
  color: rgb(239, 120, 255);
}

.hero-text :nth-child(3) {
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 5rem;
  padding: 0.4rem 0.5rem;
  text-transform: uppercase;
  transition: 0.5s;
}

/* portfolio grid */

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 25rem);
  grid-template-areas:
    "p-grid1 p-grid2"
    "p-grid3 p-grid5"
    "p-grid4 p-grid4";
  grid-gap: 1.5rem;
  justify-content: center;
  padding: 5rem 5rem;
}

.p-grid1,
.p-grid2,
.p-grid3,
.p-grid4,
.p-grid5 {
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  height: 20rem;
  justify-content: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  transition: 0.5s ease-in-out;
}

.p-grid1:after,
.p-grid2:after,
.p-grid3:after,
.p-grid4:after,
.p-grid5:after {
  bottom: -5rem;
  font-size: 1.3rem;
  height: 10%;
  opacity: 0;
  position: absolute;
  transition: 0.3s;
  width: 100%;
}

.p-grid1:after {
  content: "An elegant weather app";
}

.p-grid2:after {
  content: "Library of in-browser games from fellow devs";
}

.p-grid3:after {
  content: "Talks, Podcasts, and more";
}

.p-grid4:after {
  content: "Rewarding You for the Good You Already Do.";
}

.p-grid5:after {
  content: "front end mockup for a snowboarding e-commerce shop";
}

.p-grid1:hover,
.p-grid2:hover,
.p-grid3:hover,
.p-grid4:hover,
.p-grid5:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}

.p-grid1:hover:after,
.p-grid2:hover:after,
.p-grid3:hover:after,
.p-grid4:hover:after,
.p-grid5:hover:after {
  bottom: 3rem;
  opacity: 100;
}

.p-grid1 {
  background: linear-gradient(rgba(75, 75, 75, 0.424), rgba(36, 36, 36, 0.692)),
    center / cover
      url(https://images.unsplash.com/photo-1518528751534-7bed4f1dfb31?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ebcc7e71d19c1c0185a109464d5c836f&auto=format&fit=crop&w=1949&q=80);
  grid-area: p-grid1;
}

.p-grid1:hover {
  background: linear-gradient(rgba(75, 75, 75, 0.808), rgba(36, 36, 36, 0.87)),
    center / cover
      url(https://images.unsplash.com/photo-1518528751534-7bed4f1dfb31?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ebcc7e71d19c1c0185a109464d5c836f&auto=format&fit=crop&w=1949&q=80);
}

.p-grid1 h5 {
  font-size: 3.5rem;
  font-family: "Pacifico";
}

.p-grid2 {
  background: linear-gradient(rgba(75, 75, 75, 0.424), rgba(36, 36, 36, 0.842)),
    center / cover
      url(https://images.unsplash.com/photo-1498736297812-3a08021f206f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=218df997df6af8353f87d87cc4d55296&auto=format&fit=crop&w=1957&q=80);
  grid-area: p-grid2;
}

.p-grid2:hover {
  background: linear-gradient(rgba(75, 75, 75, 0.808), rgba(36, 36, 36, 0.87)),
      center / cover
      url(https://images.unsplash.com/photo-1498736297812-3a08021f206f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=218df997df6af8353f87d87cc4d55296&auto=format&fit=crop&w=1957&q=80);
}

.p-grid2 h5 {
  font-size: 2.5rem;
  font-weight: 100;
  text-shadow: 2px 2px 2px black;
}

.p-grid3 {
  background: linear-gradient(rgba(75, 75, 75, 0.424), rgba(36, 36, 36, 0.842)),
    center / cover url(img/nickirl.jpg);
  grid-area: p-grid3;
}

.p-grid3:hover {
  background: linear-gradient(rgba(75, 75, 75, 0.808), rgba(36, 36, 36, 0.87)),
    center / cover url(img/nickirl.jpg);
}

.p-grid3 h5 {
  font-size: 2.5rem;
}

.p-grid4 {
  background: linear-gradient(rgba(75, 75, 75, 0.424), rgba(36, 36, 36, 0.842)),
    center / cover
      url(https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=044e5d85cd16e79671287971a06be066&auto=format&fit=crop&w=1950&q=80);
  grid-area: p-grid4;
}

.p-grid4:hover {
  background: linear-gradient(rgba(75, 75, 75, 0.808), rgba(36, 36, 36, 0.87)),
    center / cover
      url(https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=044e5d85cd16e79671287971a06be066&auto=format&fit=crop&w=1950&q=80);
}

.p-grid4 h5 {
  font-size: 4rem;
}

.p-grid5 {
  background: linear-gradient(rgba(75, 75, 75, 0.424), rgba(36, 36, 36, 0.842)),
  center / cover
      url(img/snow.jpg);
  grid-area: p-grid5;
}

.p-grid5:hover {
  background: linear-gradient(rgba(75, 75, 75, 0.808), rgba(36, 36, 36, 0.87)),
  center / cover
      url(img/snow.jpg);
  grid-area: p-grid5;
}

.p-grid5 span {
  font-family: Pacifico;
  text-transform: uppercase;
}

/* personal grid start */

.personal-grid {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr;
}

.about-me {
  background: linear-gradient(rgba(36, 36, 36, 0.521), rgba(10, 10, 10, 0.815)),
    url(img/me.png);
  background-size: cover;
  display: grid;
  grid-column: 1/3;
  grid-template-columns: 15rem 1fr;
}

.about-clickables {
  align-self: center;
  font-size: 2rem;
  line-height: 2rem;
}

/* this is actually for the social links in the about section and needs to be renamed */
.about {
  margin-top: 7rem;
}

.about-clickables li {
  color: rgb(192, 192, 192);
  cursor: pointer;
  line-height: 3rem;
  padding-left: 1rem;
  text-transform: uppercase;
  transition: 0.2s;
}

.about-clickables .active {
  color: white;
}

.about-clickables li:hover {
  color: white;
}

.descriptors {
  color: white;
  display: block;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin-top: 20rem;
  padding: 1rem;
}

.descriptors h5 {
  font-size: 2.5rem;
  font-weight: 100;
  padding-bottom: 3rem;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.253);
}

.descriptors span {
  text-transform: uppercase;
}

.closing {
  text-align: right;
}

.me {
  animation: 🦄 3s linear infinite;
  color: rgb(239, 120, 255);
  font-size: 2em;
  font-weight: 100;
}

.right-column {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.music {
  background-color: rgb(31, 31, 31);
}

.music h5 {
  color: rgb(207, 207, 207);
  font-size: 1.5rem;
  padding: 3rem 1rem;
}

.music p {
  color: rgb(207, 207, 207);
  cursor: pointer;
  font-size: 1.5rem;
  padding-top: 1rem;
  text-align: center;
}

.music p:hover {
  color: white;
}

.music-grid {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(2, 6rem);
  grid-gap: 1rem 1rem;
  justify-content: center;
}

.playlist {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.74);
  background-size: cover;
  cursor: pointer;
  transition: 0.2s;
}

.playlist:hover {
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.74);
  filter: brightness(120%);
}

.p1 {
  background: center / cover url(img/spot1.png);
}

.p2 {
  background: center / cover url(img/spot2.png);
}

.p3 {
  background: center / cover url(img/spot3.png);
}

.p4 {
  background: center / cover url(img/spot4.png);
}

.p5 {
  background: center / cover url(img/spot5.png);
}

.p6 {
  background: center / cover url(img/spot6.png);
}

/* contact sqaure  */

.contact {
  position: relative;
  text-align: center;
}

.contact i {
  padding-right: 1rem;
  color: rgba(0, 0, 0, 0.698);
}

.contact h5 {
  border: 0.5px solid black;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  margin: 10rem 0 3rem 0;
  padding: 0.5rem 2rem;
  transition: 0.2s;
}

.contact h5:hover {
  background-color: rgba(0, 0, 0, 0.698);
  color: white;
}

.contact h5:hover i {
  color: white;
}

.contact h5:hover + .message {
  opacity: 100;
}

.message {
  opacity: 0;
  transition: 0.6s;
}

.contact p {
  color: rgb(56, 56, 56);
  padding: 0 2rem;
}

.contact span {
  position: relative;
}

.made-by {
  margin-top: 3rem;
}

.contact span:hover:after {
  bottom: 2.5rem;
  color: rgba(0, 0, 0, 0.692);
  content: "Toot toot!";
  font-size: 1rem;
  font-weight: 500;
  height: 100%;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  transform: rotate(-20deg);
  width: 50%;
}

@media only screen and (max-width: 1000px){
  .about-clickables{
    font-size: 1.3rem;
    width: 7rem;
  }

  .personal-grid {
    grid-template-columns:  1fr 1fr;
  }

  .about-me {
    grid-template-columns: 10rem 1fr;
  }

  .music{
    width: 100vw;
  }

  .music h5{
    padding: 1rem;
  }

  .right-column {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 850px){
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "p-grid1"
      "p-grid2"
      "p-grid3"
      "p-grid5"
      "p-grid4";
    grid-gap: 1.5rem;
    justify-content: center;
    padding: 5rem 0;
  }

  body {
    display: grid;
    grid-template-rows: 48rem 0 1fr 52rem;
  }
}

@media only screen and (max-width: 550px){
  nav li{
    font-size: 1rem;
    padding: .5rem .5rem;
  }

  social li{
    font-size: 1rem;
    padding: .5rem;
  }

  .landing{
    margin-top: 6rem;
  }

  .about-me {
    grid-template-columns: 1fr;
  }

  .descriptors {
    margin-top: 2rem;
  }

  .about-clickables{
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
  }

  .🌭{
    right: 0;
  }

  .♻️{
    right: 0;
  }

  #check:checked + .🌭 + nav {
    margin-right: 29rem;
  }

  .hero-text :first-child{
    word-wrap: break-word;
    font-size: 4rem;
    padding-top: 2rem;
  }

  main .hero-text {
    margin-left: 2px;  
  }
}

@media only screen and (max-width: 375px){
 .hero-text :first-child{
    font-size: 3.5rem;
    padding-top: 2rem;
  }

  #check:checked + .🌭 + nav {
    margin-right: 28rem;
  }
}

@media only screen and (max-width: 350px){
  #check:checked + .🌭 + nav:first-child{
    display: none;
  }
}

.footer{
  background-color: rgb(39, 39, 39);
  text-align: center;
  border-top: 1px solid rgb(54, 54, 54);

}

.icons{
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: rgb(179, 179, 179);
  padding: 10px;
  transition: .2s;
}

.icons i:hover{
  color: white;
  cursor: pointer;
}

