/* general styles */
@font-face{
  font-family: 'kill-the-noise';
  src: url(fonts/ktn2.otf)
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li{
  list-style-type: none;
}

@keyframes 🦄 {
  0% {
    filter: hue-rotate(-90deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(-90deg);
  }
}

/* hamburger magic */

#check {
  display: none;
}

/* social links */

.social-links {
  color: white;
  list-style-type: none;
  text-align: right;
  margin: 10rem 2rem 0 0;
  font-size: 1.5rem;
}

.social-links li{
  display: inline-block;
  padding: 1rem;
  transition:.2s;
  cursor: pointer;
  color: white;
}

.social-links a{
  color: white;
}

.social-links li:hover{
  background-color: rgba(255, 255, 255, 0.822);
  color: black;
}

/* nav */

nav ul{
  list-style-type: none;
  text-align: right;
  padding: 1rem 1rem 0 0;
  z-index: 5;
}

nav li {
  display: inline-block;
  padding: .5rem 1.5rem;
  color: white;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.507);
  cursor: pointer;
  font-size: .8rem;
  transition: .5s;
}

nav li:hover{
  background-color: rgba(255, 255, 255, 0.76);
  color: black;
}

/* main */

main{
  background: linear-gradient(
    rgba(75, 75, 75, 0.555),
    rgba(36, 36, 36, 0.472)),
    url(https://source.unsplash.com/collection/1911873/1600x900);
  height: 100vh;
}

main .hero-text{
  padding-top: 20rem;
  font-size: 1.3rem;
}

.hero-text{
  text-align: center;
  color: white;
  font-weight: 100;
}

.hero-text :first-child{
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 1rem;
  position: relative;
}

.hero-text span{
  animation: 🦄 3s linear infinite;
  color: rgb(239, 120, 255);
}

.hero-text :nth-child(3){
  margin-top: 5rem;
  font-size: 1rem;
  display: inline-block;
  padding: .7rem 2.5rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.507);
  transition: .5s;
  text-transform: uppercase;
}

.hero-text :nth-child(3):hover{
  background-color: rgba(255, 255, 255, 0.794);
  color: rgb(0, 0, 0);
  letter-spacing: .2rem;
}

/* portfolio grid */

.portfolio-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "p-grid1 p-grid2 p-grid3"
    "p-grid4 p-grid4 p-grid5";
    grid-template-rows: repeat(2, 27rem);
}

.p-grid1{
  grid-area: p-grid1;
  background: center / cover url(img/weatherly.png);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mini-synopsis{
  background-color: rgba(255, 255, 255, 0.897);
  height: 9rem;
  padding: 1.3rem;
  font-weight: 100;
  opacity: 0;
  transition: .7s;
  font-size: .9rem;
  color: rgb(70, 70, 70);
}

.mini-synopsis:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.931);
}

.mini-synopsis span{
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.mini-synopsis p{
  letter-spacing: 1.5px;
}

.p-grid1:hover .mini-synopsis,
.p-grid2:hover .mini-synopsis,
.p-grid3:hover .mini-synopsis,
.p-grid4:hover .mini-synopsis,
.p-grid5:hover .mini-synopsis{
  opacity: 100;
}

.p-grid2{
  grid-area: p-grid2;
  background: center / cover url(img/weatherly.png);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.p-grid2 .mini-synopsis{
  grid-column: 3/5
}

.p-grid3{
  grid-area: p-grid3;
  background: center / cover url(img/weatherly.png);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.p-grid2 .mini-synopsis,
.p-grid5 .mini-synopsis{
  align-self: end;
}

.p-grid4{
  grid-area: p-grid4;
  background: center / cover url(img/weatherly.png);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.p-grid4 .mini-synopsis{
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/2
}

.p-grid5{
  grid-area: p-grid5;
  background: center / cover url(img/weatherly.png);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* story divider */

.stories{
  background-color: rgb(233, 233, 233);
}

.stories p{
  text-transform: lowercase;
  font-size: 2rem;
  font-weight: 200;
  height: 20rem;
}

.stories-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* personal grid start */

.personal-grid{
  display: grid;
  grid-template-columns: 1fr 1fr .7fr;
}

.about-me{
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 20rem 1fr;
  background: linear-gradient(
    rgba(93, 93, 93, 0.671),
    rgba(36, 36, 36, 0.829));
  height: 51.6rem;
}

.about-clickables{
  align-self: center;
  font-size: 2rem;
  line-height: 2rem;
}

.about-clickables li{
  padding-left: 1rem;
  line-height: 3rem;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  transition: .2s;
}

.descriptors{
  align-self: end;
  color: white;
  width: 40rem;
  line-height: 2rem;
  letter-spacing: .1rem;
  font-weight: 200;
  text-transform: lowercase;
  display: block;
}

.descriptors h5{
  font-size: 2.5rem;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.253);
  font-weight: 100;
  padding-bottom: 5rem;
}

.descriptors span{
  text-transform: uppercase;
}

.closing{
  text-align: right;
}

.me{
  font-size: 2em;
  font-weight: 100;
  animation: 🦄 3s linear infinite;
  color: rgb(239, 120, 255);
}

.right-column{
  display: grid;
  grid-template-rows: 25.8rem 25.8rem;
}

.music{
  background-color: rgb(233, 233, 233);
}

.music h5{
  padding: 3rem .5rem;
  font-size: 1.5rem;
  font-weight: 200;
  color: rgb(49, 49, 49);
}

.music-grid{
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(2, 6rem);
  justify-content: space-around;
  grid-gap: 1rem;
}

.playlist{
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.74);
  background-size: cover;
  cursor: pointer;
  transition: .2s;
}

.playlist:hover{
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.74);
  filter:brightness(120%);
}

.p1{
  background: center / cover url(img/spot1.png);
}

.p2{
  background: center / cover url(img/spot2.png);
}

.p3{
  background: center / cover url(img/spot3.png);
}

.p4{
  background: center / cover url(img/spot4.png);
}

.p5{
  background: center / cover url(img/spot5.png);
}

.p6{
  background: center / cover url(img/spot6.png);
}

/* contact sqaure  */

.contact{
  background-color: rgb(233, 233, 233);
  position: relative;
  text-align: center;
}

.contact:before{
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.651);
  width: 50%;
  height: .5%;
  left: 6rem;
}

.contact i{
  padding-right: 1rem;
  color: rgba(0, 0, 0, 0.698);
}

.contact h5{
  margin-top: 10rem;
  font-size: 2rem;
  font-weight: 200;
  cursor: pointer;
  margin-bottom: 3rem;
  transition: .2s;
}

.contact h5:hover{
  font-weight: 400;
}

.contact p {
  text-transform: lowercase;
}

.contact span{
  position: relative;
}

.contact span:hover:after{
  position: absolute;
  content: 'Toot toot!';
  width: 50%;
  height: 100%;
  bottom: 2.5rem;
  font-size: 1rem;
  left: 0;
  font-weight: 500;
  text-transform: uppercase;
  transform: rotate(-20deg);
  color: rgba(0, 0, 0, 0.692);
}